.cs-mega-menu-mobile-bg{
  background: #42a017a9 !important;
}

.mega-menu-wrapper {
  /* background-color: #42a017a9; */
  /* background-color: #42a017a9; */
  background-color: #fc9066;
  height: 40px;
}

.cs-side-cards{
  border-radius: 10px;
  height: 225px;
  margin-bottom: 28px;
  padding: 15px;
}

.menu-ul {
  display: flex;
  text-align: center;
  align-items: center;
  list-style: none;
  height: 100%;
}

.menu-li {
  cursor: pointer;
  height: 100%;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}


.mega-menu-wrapper .ant-popover-open, .menu-li:hover {
  background-color: #cf683fa9;
  color: black;
}

.menu-popover{
    margin-top: -4px;
    background-color: #fff;
    padding: 20px 13.8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.menu-popover-submenu{
  min-width: 200px;
}

.menu-item-ul {
    list-style: none;
    padding: 0;
}

.vr-line{
    background-color: #394747;
    opacity: .1 !important;
    width: 1px !important;
    height: 100%;
    margin-left: 30px;
    margin-right: 20px;
}